<FilesMatch allocate-order-number$>
    SetHandler cgi-script
</FilesMatch>
<FilesMatch mail-signup$>
    SetHandler cgi-script
</FilesMatch>
<FilesMatch order-updated$>
    SetHandler cgi-script
</FilesMatch>
<FilesMatch publish-site$>
    SetHandler cgi-script
</FilesMatch>
<FilesMatch sku-updated$>
    SetHandler cgi-script
</FilesMatch>
<FilesMatch to-stripe$>
    SetHandler cgi-script
</FilesMatch>
