backend
content
data
public
resources/_gen
static-sandbox/backend/publish-site
static/backend/email-signup
static/backend/mail-signup
static/backend/order-updated
static/backend/sku-updated
static/backend/to-stripe
.hugo_build.lock