{{ define "main" }}
    {{ $s := newScratch }}
    {{ $s.Set "cols" (len .Pages) }}
    {{ if gt ($s.Get "cols") 4 }}{{ $s.Set "cols" 4 }}{{ end }}
    <h1 id="concertlisthead" class="col{{ $s.Get "cols" }}">{{ .Title }}</h1>
    <div id="concertlist" class="col{{ $s.Get "cols" }}">
        {{ range .Pages }}
            <div class="concertlistitem">
                {{ $image := .Resources.GetMatch "image.*" }}
                {{ if $image }}
                    <a href="{{ .Permalink }}">
                        <img src="{{ ($image.Fit "296x296").RelPermalink }}">
                    </a>
                {{ end }}
                <div class="concertlistitemtitle">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                <div class="concertlistitemdates">
                    {{ range .Resources.Match "seating*" }}
                        <div>
                            {{ $start := time .Params.datetime }}
                            {{ if eq $start.Month 5 }}{{ $start.Format "Mon., Jan 2" }}{{ else }}{{ $start.Format "Mon., Jan. 2" }}{{ end }} • {{ partial (print "vcity/" .Params.venue) . }}
                        </div>
                    {{ end }}
                </div>
                {{ with .Resources.GetMatch "summary.*" }}
                    <div class="concertlistitemdesc">{{ .Content }}</div>
                {{ end }}
            </div>
        {{ end }}
    </div>
    {{ if .Content }}
        <div class="onecol">
            {{ .Content}}
        </div>
    {{ end }}
{{end}}
