{{ define "main" }}
    <div class="concert">
        <div class="concertdata">
            <h1>{{ $.Page.Params.title }}</h1>
            {{ range $.Page.Resources.Match "seating*" }}
                <div class="concertlogistics">
                    <div class="concertdatetime">{{ (time .Params.datetime).Format "Monday, January 2 at 3:00pm" }}</div>
                    {{ partial (print "venue/" .Params.venue) . }}
                </div>
                <div class="concerttickets">
                    {{ .Content }}
                </div>
            {{ end }}
        </div>
        {{ with $.Page.Resources.GetMatch "image.*" }}
            <img class="concertimg" src="{{ (.Fit "296x296").RelPermalink }}">
        {{ end }}
        <div class="concertbody">
            {{ .Content }}
        </div>
    </div>
    {{ $.Page.Scratch.Set "needPayForm" true }}
{{end}}
