{{ define "main" }}
    <div id="leaders">
        <div id="leaders-top">
            {{ .Content }}
        </div>
        {{ range .Resources.ByType "page" }}
            <div class="leaders-body">
                <h2>{{ .Title }}</h2>
                {{ with $.Resources.GetMatch (print (index (last 2 (split .Dir "/")) 0) "/image.*") }}
                    <img src="{{ ((.Resize "150x") | resources.Fingerprint).Permalink }}" class="floatleft">
                {{ end }}
                {{ .Content }}
            </div>
        {{ end }}
    </div>
{{end}}
