# This next block suggested by DreamHost to avoid blocking access to stats.
# Not sure why it works better than the rules below for the same purpose,
# but it does.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/(stats|failed_auth\.html).*$ [NC]
RewriteRule . - [L]
</IfModule>

Redirect permanent /amazon http://smile.amazon.com/
Redirect permanent /smplus http://www.sheetmusicplus.com/a/featured.html?aff_id=457839
Redirect permanent /gilded-land https://youtu.be/_GF74E1m7Yw
Redirect permanent /messiah-sing-registration https://www.eventbrite.com/e/schola-cantorums-54th-annual-messiah-sing-tickets-131733790313

# Support .cgi files, for Neil's stuff.
AddHandler cgi-script .cgi

Options +FollowSymLinks +ExecCGI -Indexes

RewriteEngine On
RewriteOptions Inherit
# RewriteLog rewrite.log
# RewriteLogLevel 9

# Rewrite www.scholacantorum.org as scholacantorum.org.
RewriteCond "%{REQUEST_URI}" "!^/stats"
RewriteCond "%{HTTP_HOST}" "^www\.scholacantorum\.org$" [NC]
RewriteRule "^/?(.*)$" "https://scholacantorum.org/$1" [L,R=301]

# Force everything to https.
RewriteCond "%{REQUEST_URI}" "!^/stats"
RewriteCond "%{HTTPS}" "!=on"
RewriteRule "^/?(.*)" "https://scholacantorum.org/$1" [L,R=301]

<FilesMatch "\.[0-9a-f]{64}\.[^.]+$">
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
</FilesMatch>
