// Schola Blue, as used on this site.  Note that there is no exact definition of
// Schola Blue; different things from Carol have used different shades of blue
// over time.  This variable just enforces consistency within this site.
$scholaBlue: #395fab

// Color used when showing error messages.  It matches the error color used by
// Bootstrap.
$errorColor: #eb1c26

// Minimum viewport width that we support.
$minWidth: 320px

// Standard horizontal gap between elements (and minimum left and right margin
// of pages).
$gap: 12px

// Width of a typical block on a page.
$blockWidth: $minWidth - 2*$gap
