#about
    margin: 24px 12px
@media (min-width: 664px)
    #about
        margin: 24px
    .about-body
        width: calc(50vw - 36px)
        float: left
    .about-body:nth-child(2)
        margin-right: 24px
