@import "_globals.sass"

// This file contains the styles for the basic layout of every page.  It follows
// this structure:
//     form#publishform (styles in sandbox.sass)
//     div#layout-heading
//         a#layout-logo
//         div#layout-heading-slug (the "A World of Voices" oval)
//         nave#layout-navbar
//             div#layout-navbar2 (the visible, L-to-R menu)
//                 span#layout-menu.drowdown
//                     a.nav-link.dropdown-toggle (the dropdown icon)
//                     div.dropdown-menu.dropdown-menu-right (the dropdown menu)
//     {{ page contents }}
//     div#layout-footer
//         {{ phone number }}
//         span#footer-spacer1 (sometimes horizontal, sometimes newline)
//         {{ email address }}
//         span#footer-spacer1 (sometimes horizontal, sometimes newline)
//         a#footer-facebook
//         a#footer-twitter
//         span#footer-spacer2 (sometimes horizontal, sometimes newline)
//         {{ address line 1 }}
//         span#footer-spacer3 (sometimes horizontal, sometimes newline)
//         {{ address line 2 }}
//     {{ maybe payment form }}
//
// This file has lots of magic numbers, determined empirically.  They'll
// probably need to be adjusted if we change the header images or menu contents.
$logoAspect: 300 / 128
$navbarHeight: 27px // including desired top margin
$navbarMinWidth: 220px // depends on contents
$logoMaxWidth: 240px
$headerPadding: 6px
#layout-heading
    background-color: $scholaBlue
    position: relative
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-bottom: 6px
    & img
        width: 100%
#layout-heading-group
    width: 35vw
    display: flex
    flex-direction: column
#layout-logo-b
    padding: 6px 0 4px 0
    width: 35vw
#layout-heading-season
    width: 32vw
    padding: 6px 0 6px
    border-top: 1px solid white
    line-height: 0
    margin-left: 3vw
#layout-heading-slug
    padding: 6px 6px 0
    width: 65vw
#layout-navbar
    display: flex
    justify-content: flex-end
    align-self: flex-end
    width: 100%
    line-height: 1
    padding: 6px 16px 6px
    column-gap: 16px
    a:link, a:visited
        color: #ccc
    a:hover, a:active
        color: #fff
        text-decoration: none
    .nav-link
        display: inline
        padding: 0
    .dropdown-toggle::after
        display: none
    .dropdown-menu
        background-color: $scholaBlue
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-top: none
        margin: 0 // vertically adjacent to the bottom of the header
    .dropdown-item:focus, .dropdown-item:hover
        background-color: $scholaBlue
        color: #fff
#layout-menu
    transform: translateY(-2px) // alignment of dropdown icon

@media (min-width: 450px)
    #layout-heading
        justify-content: space-between
    #layout-heading-group
        width: calc(450px * 0.35)
    #layout-logo-b
        padding: 6px 0 4px 0
        width: calc(450px * 0.35)
    #layout-heading-season
        width: calc(450px * 0.32)
        margin-left: calc(450px * 0.03)
    #layout-heading-slug
        padding: 6px 6px 0
        width: calc(450px * 0.65)

@media (min-width: 530px)
    #layout-heading
        justify-content: flex-start
    #layout-heading-group
        margin-right: 80px
    #layout-heading-season

@media (min-width: 880px)
    #layout-navbar
        width: calc(100vw - 450px - 80px)

#layout-footer
    padding: 6px 6px
    width: 100%
    background-color: $scholaBlue
    font-size: 13px
    color: #ddd
    text-align: center
    clear: both
    a:link, a:visited
        color: #ddd
    a:hover, a:active
        color: #fff
        text-decoration: none
#footer-twitter
    margin-left: 6px
#footer-spacer1, #footer-spacer2
    display: inline-block
    width: 6px
#footer-spacer3
    display: block
#footer-spacer4
    display: block
@media (min-width: 350px)
    // Raise font size.
    #layout-footer
        font-size: 14px
@media (min-width: 380px)
    // Put phone, email, facebook, twitter on same line
    #layout-footer
        padding: 6px 12px
        font-size: 14px
    #footer-spacer1, #footer-spacer2
        width: 1em
@media (min-width: 420px)
    // Put address, city, state, zip on same line
    #footer-spacer4
        display: inline-block
        width: 0.5rem
@media (min-width: 770px)
    // Put everything on one line
    #footer-spacer3
        display: inline-block
        width: 2rem
