@import "_globals.sass"

// This file contains the styles for the basic layout of every page.  It follows
// this structure:
//     form#publishform (styles in sandbox.sass)
//     div#layout-heading
//         a#layout-logo
//         div#layout-heading-slug (the "A World of Voices" oval)
//         nave#layout-navbar
//             div#layout-navbar2 (the visible, L-to-R menu)
//                 span#layout-menu.drowdown
//                     a.nav-link.dropdown-toggle (the dropdown icon)
//                     div.dropdown-menu.dropdown-menu-right (the dropdown menu)
//     {{ page contents }}
//     div#layout-footer
//         {{ phone number }}
//         span#footer-spacer1 (sometimes horizontal, sometimes newline)
//         {{ email address }}
//         span#footer-spacer1 (sometimes horizontal, sometimes newline)
//         a#footer-facebook
//         a#footer-twitter
//         span#footer-spacer2 (sometimes horizontal, sometimes newline)
//         {{ address line 1 }}
//         span#footer-spacer3 (sometimes horizontal, sometimes newline)
//         {{ address line 2 }}
//     {{ maybe payment form }}
//
// This file has lots of magic numbers, determined empirically.  They'll
// probably need to be adjusted if we change the header images or menu contents.
$logoAspect: 300 / 128
$navbarHeight: 27px // including desired top margin
$navbarMinWidth: 220px // depends on contents
$logoMaxWidth: 240px
$headerPadding: 6px
#layout-heading
    background-color: $scholaBlue
    height: calc((50vw - 12px) / #{$logoAspect} + #{$navbarHeight + 2*$headerPadding})
    position: relative
    margin-bottom: 12px
#layout-heading-slug-clip
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
#layout-logo
    position: absolute
    top: $headerPadding
    left: $headerPadding
    width: calc(50% - #{2*$headerPadding})
#layout-heading-slug
    position: absolute
    top: $headerPadding
    right: $headerPadding
    height: calc(100% - #{$navbarHeight + 2*$headerPadding})
    width: calc(50% - #{2*$headerPadding})
    display: flex
    align-items: center
    justify-content: flex-end
    img
        width: 100%
        max-height: 100%
#layout-navbar
    position: absolute
    bottom: $headerPadding
    width: 100%
    text-align: center
    line-height: 1
    a:link, a:visited
        color: #ddd
    a:hover, a:active
        color: #fff
        text-decoration: none
    .nav-link
        display: inline
        padding: 0
        vertical-align: 1px // the dropdown icon has unwanted space at the top
    .dropdown-toggle::after
        display: none
    .dropdown-menu
        background-color: $scholaBlue
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-top: none
        margin: 0 // vertically adjacent to the bottom of the header
    .dropdown-item:focus, .dropdown-item:hover
        background-color: $scholaBlue
        color: #fff
    #layout-navbar2 > a, #layout-navbar2 span
        margin-left: 16px
        &:first-child
            margin-left: 0
@media (min-width: #{($logoMaxWidth + 12px) * 2})
    // Don't let the header images grow anymore.
    #layout-heading
        height: #{$logoMaxWidth/$logoAspect + $navbarHeight + 2*$headerPadding}
    #layout-logo
        width: $logoMaxWidth
    #layout-heading-slug
        width: calc(100vw - #{$logoMaxWidth + 4*$headerPadding})
@media (min-width: #{$logoMaxWidth + $navbarMinWidth + 3*$headerPadding})
    // Switch from navbar under both header images to navbar under slug only.
    #layout-heading
        height: #{$logoMaxWidth/$logoAspect + 2*$headerPadding - 2px}
        // the 2px is a fudge factor to make the baselines of the logo and the
        // navbar line up
    #layout-heading-slug
        height: #{$logoMaxWidth/$logoAspect - $navbarHeight - 2px}
        img
            width: auto
            height: 100%
    #layout-navbar
        width: $navbarMinWidth
        right: 6px
@media (min-width: 1000px)
    // Switch to put slug in the middle.
    #layout-heading-slug
        height: #{$logoMaxWidth/$logoAspect + 2*$headerPadding + 40px}
        top: -20px
        left: 0
        right: 0
        text-align: center
        width: auto
        justify-content: center

#layout-footer
    padding: 6px 6px
    width: 100%
    background-color: $scholaBlue
    font-size: 13px
    color: #ddd
    text-align: center
    clear: both
    a:link, a:visited
        color: #ddd
    a:hover, a:active
        color: #fff
        text-decoration: none
#footer-twitter
    margin-left: 6px
#footer-spacer1, #footer-spacer2
    display: inline-block
    width: 6px
#footer-spacer3
    display: block
#footer-spacer4
    display: block
@media (min-width: 350px)
    // Raise font size.
    #layout-footer
        font-size: 14px
@media (min-width: 380px)
    // Put phone, email, facebook, twitter on same line
    #layout-footer
        padding: 6px 12px
        font-size: 14px
    #footer-spacer1, #footer-spacer2
        width: 1em
@media (min-width: 420px)
    // Put address, city, state, zip on same line
    #footer-spacer4
        display: inline-block
        width: 0.5rem
@media (min-width: 770px)
    // Put everything on one line
    #footer-spacer3
        display: inline-block
        width: 2rem
