.gala
    @media (min-width: 912px)
        display: flex
        justify-content: center
.galaImages
    display: flex
    justify-content: center
    @media (min-width: 912px)
        flex-direction: column
        align-self: flex-start
.galaLogo, .galaImage
    width: 50vw
    height: 50vw
    max-width: 300px
    max-height: 300px
.galaLead
    text-align: center
    margin: 6px
.galaBody
    margin: 6px 12px
    font-size: 14px
    @media (min-width: 624px)
        margin: 6px auto
        max-width: 600px
#galaForm
    margin: 6px 12px
    display: flex
    flex-direction: column
    @media (min-width: 624px)
        margin: 6px auto
        max-width: 600px
.galaRegister
    font-weight: bold
    font-size: 18px
    text-align: center
    margin-bottom: 12px
.galaQtyRow
    display: flex
    align-items: baseline
#galaQty
    width: 70px // minimum to fit the placeholder text
    margin-right: 8px
    font-size: 20px
    line-height: 1
    flex: none
.galaErrorBorder
    border-color: red !important
#galaQtyText
    flex: auto
#galaQtyAmount
    font-size: 20px
    flex: none
.galaQtyNote
    font-size: 14px
    margin-bottom: 12px
.keep-together
    display: inline-block
#galaQtyError
    color: red
    font-size: 16px
    font-weight: bold
    display: inline-block
.galaHost
    display: flex
    flex-wrap: wrap
    margin: 0 auto 6px
    max-width: 600px
.galaHostHead
    width: calc(100vw - 24px)
    @media (min-width: 540px)
        width: 80px
        margin: 0 12px 6px 0
        align-self: center
.galaHostName
    width: calc(100vw - 24px)
    @media (min-width: 440px)
        width: calc(50vw - 18px)
        margin: 0 12px 0 0
    @media (min-width: 540px)
        width: calc(50vw - 64px)
    @media (min-width: 624px)
        width: 248px
.galaHostEmail
    width: calc(100vw - 24px)
    @media (min-width: 440px)
        width: calc(50vw - 18px)
    @media (min-width: 540px)
        width: calc(50vw - 64px)
    @media (min-width: 624px)
        width: 248px
.galaHostAddress
    width: calc(100vw - 24px)
    @media (min-width: 540px)
        width: calc(100vw - 116px)
        margin-left: 92px
    @media (min-width: 624px)
        width: 508px
.galaHostCSZ
    display: flex
    width: calc(100vw - 24px)
    @media (min-width: 540px)
        width: calc(100vw - 116px)
        margin-left: 92px
    @media (min-width: 624px)
        width: 508px
.galaHostCity
    flex: auto
.galaHostState
    max-width: 60px
    flex: none
.galaHostZip
    max-width: 100px
    flex-none
#galaHostError
    width: calc(100vw - 24px)
    color: red
    font-weight: bold
    @media (min-width: 624px)
        width: 600px
.galaGuest
    display: flex
    flex-wrap: wrap
    margin: 0 auto
    max-width: 600px
.galaGuestHead
    width: calc(100vw - 24px)
    @media (min-width: 540px)
        width: 80px
        margin: 0 12px 6px 0
        align-self: center
.galaGuestName
    width: calc(100vw - 24px)
    @media (min-width: 440px)
        width: calc(50vw - 18px)
        margin: 0 12px 6px 0
    @media (min-width: 540px)
        width: calc(50vw - 64px)
    @media (min-width: 624px)
        width: 248px
.galaGuestEmail
    width: calc(100vw - 24px)
    margin-bottom: 6px
    @media (min-width: 440px)
        width: calc(50vw - 18px)
    @media (min-width: 540px)
        width: calc(50vw - 64px)
    @media (min-width: 624px)
        width: 248px
.galaPayment
    display: flex
    flex-wrap: wrap
    margin: 12px auto 18px
    max-width: 600px
.galaPaymentLabel
    width: calc(100vw - 24px)
    @media (min-width: 540px)
        width: 100px
        margin: 0 12px 0 0
        align-self: center
#galaPaymentCard
    width: calc(100vw - 24px)
    padding: 8px 12px
    @media (min-width: 540px)
        width: calc(100vw - 136px)
    @media (min-width: 624px)
        width: 488px
#galaPaymentCardError
    width: calc(100vw - 24px)
    color: red
    font-weight: bold
    @media (min-width: 624px)
        width: 600px
.galaRequests
    margin: 18px 0
#galaButtons
    margin-bottom: 18px
    display: flex
    justify-content: space-between
    align-items: center
#galaProcessing
    font-weight: bold
#galaSubmit
    flex: none
#galaConfirm
    font-weight: bold
#galaPaymentError
    color: red
    font-weight: bold
    margin-bottom: 18px

