@import "_globals.sass"

#emaillistform
    margin-bottom: 2*$gap
#emaillistform .form-row .form-group
    margin-bottom: 0.5rem
#emaillistlegal
    font-size: 14px
    margin-bottom: $gap
    color: #888

#physmailconfirm, #emaillistconfirm
    color: $scholaBlue
    font-weight: bold
#physmailerror, #emaillisterror
    color: $errorColor
