.onecol
    margin: 24px 12px
    clear: both
    @media (min-width: 624px)
        max-width: 600px
        margin: 24px auto

.concerttable table, .eventtable
    margin-bottom: 16px
    th
        padding-right: 16px
@media (min-width: 624px)
    .concerttable
        display: flex
    .concerttable > div:nth-child(1)
        width: 294px
        margin-right: 12px
    .concerttable > div:nth-child(2)
        width: 294px

.homepage
    margin: 24px 12px
@media (min-width: 624px)
    .homepage
        & > div
            float: left
            width: calc(50% - 6px)
            margin-left: 12px
        & > div:first-child
            width: 100%
            margin-left: 0
        & > div:nth-child(2n)
            clear: both
            margin-left: 0
@media (min-width: 984px)
    .homepage
        position: relative
        margin: 24px calc(50% + 184px)
        & > div
            float: none
            width: 296px
            margin-left: 0
        & > div:first-child
            width: 628px
            position: absolute
            left: -664px
