.onecol
    margin: 24px 12px
    @media (min-width: 624px)
        max-width: 600px
        margin: 24px auto

.concerttable table, .eventtable
    margin-bottom: 16px
    th
        padding-right: 16px
@media (min-width: 624px)
    .concerttable
        display: flex
    .concerttable > div:nth-child(1)
        width: 294px
        margin-right: 12px
    .concerttable > div:nth-child(2)
        width: 294px

.homepage
    margin: 24px 12px
@media (min-width: 624px)
    .homepage
        display: grid
        grid-template-columns: 296px 296px
        grid-column-gap: 12px
        margin: 24px calc(50% - 300px)
    .homepage > div:nth-child(1)
        grid-area: 1 / 1 / 2 / 3
@media (min-width: 984px)
    .homepage
        grid-template-columns: repeat(3, 296px)
        grid-template-rows: min-content 1fr
        grid-column-gap: 36px
        grid-row-gap: 12px
        margin: 24px calc(50% - 480px)
        h2
            line-height: 48px
    .homepage > div:nth-child(1)
        grid-area: 1 / 1 / 3 / 3
