@import "_globals.sass"

#donationform
    display: flex
    margin-top: -1rem
#donationamount // styles emulate Bootstrap form-control style
    margin-right: 1ex
    padding: .375rem .75rem
    font-size: 1rem
    line-height: 1.5
    border: 1px solid #ced4da
    border-radius: .25rem
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
    width: 120px
#applepaydiv
    min-width: 160px // it needs an explicit width
#donationconfirm
    color: $scholaBlue
    font-weight: bold

#subscriptionform
    display: flex
.subscrqty // styles emulate Bootstrap form-control style
    margin-right: 1ex
    padding: .375rem .75rem
    font-size: 1rem
    line-height: 1.5
    border: 1px solid #ced4da
    border-radius: .25rem
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
    width: 110px
