{{ $list := newScratch -}}
{{ $list.Add "styles" slice -}}
{{ range readDir "assets" -}}
    {{ if strings.HasSuffix .Name ".css" -}}
        {{ $list.Add "styles" (resources.Get .Name) -}}
    {{ end -}}
    {{ if strings.HasSuffix .Name ".sass" -}}
        {{ if not (strings.HasPrefix .Name "_") -}}
            {{ $list.Add "styles" (resources.Get .Name | resources.ToCSS) -}}
        {{ end -}}
    {{ end -}}
{{ end -}}
{{ $bundle := ($list.Get "styles") | resources.Concat "schola6p.css" | resources.Minify | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $bundle.Permalink }}">
{{ if or ($.Page.HasShortcode "buy-tickets") ($.Page.Params.buyTickets) }}
    {{ range (index (index (index (index .Site.Data .Site.Params.env ) "resources") "buy-tickets") "css") }}
        <link rel="stylesheet" href="{{ safeURL $.Site.Params.ordersURL }}/{{ . }}">
    {{ end }}
{{ end }}
