{{ define "main" }}
    {{ $s := newScratch }}
    {{ $s.Set "cols" (len .Pages) }}
    {{ if gt ($s.Get "cols") 4 }}{{ $s.Set "cols" 4 }}{{ end }}
    <h1 id="eventlisthead" class="col{{ $s.Get "cols" }}">{{ .Title }}</h1>
    <div id="eventlist" class="col{{ $s.Get "cols" }}">
        {{ range .Pages }}
            <div class="eventlistitem">
                {{ $image := .Resources.GetMatch "image.*" }}
                {{ if $image }}
                    <a href="{{ .Permalink }}">
                        <img src="{{ (($image.Fit "296x296") | resources.Fingerprint).RelPermalink }}">
                    </a>
                {{ end }}
                <div class="eventlistitemtitle">
                    <a href="{{ .Permalink }}">{{ default .Title .Params.short }}</a>
                </div>
                <div class="eventlistitemdates">
                    {{ range .Resources.Match "seating*" }}
                        <div>
                            {{ $start := time .Params.datetime }}
                            {{ if eq $start.Month 5 }}{{ $start.Format "Mon., Jan 2" }}{{ else }}{{ $start.Format "Mon., Jan. 2" }}{{ end }}{{ if .Params.venue }} • {{ partial (print "vcity/" .Params.venue) . }}{{ end }}
                        </div>
                    {{ end }}
                </div>
                {{ with .Resources.GetMatch "summary.*" }}
                    <div class="eventlistitemdesc">{{ .Content }}</div>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{end}}
