{{ define "main" }}
    <h1 id="eventlisthead">{{ .Title }}</h1>
    <div id="eventlist">
        {{ range .Pages }}
            <div class="eventlistitem">
                {{ $image := .Resources.GetMatch "image.*" }}
                {{ if $image }}
                    <a href="{{ .Permalink }}">
                        <img src="{{ ($image.Fit "296x296").RelPermalink }}">
                    </a>
                {{ end }}
                <div class="eventlistitemtitle">
                    <a href="{{ .Permalink }}">{{ default .Title .Params.short }}</a>
                </div>
                <div class="eventlistitemdates">
                    {{ range .Resources.Match "seating*" }}
                        <div>
                            {{ $start := time .Params.datetime }}
                            {{ if eq $start.Month 5 }}{{ $start.Format "Mon., Jan 2" }}{{ else }}{{ $start.Format "Mon., Jan. 2" }}{{ end }}{{ if .Params.venue }} • {{ partial (print "vcity/" .Params.venue) . }}{{ end }}
                        </div>
                    {{ end }}
                </div>
                {{ with .Resources.GetMatch "summary.*" }}
                    <div class="eventlistitemdesc">{{ .Content }}</div>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{end}}
