{{ define "main" }}
    {{ .Scratch.Set "payForm" "ticket" -}}
    <div class="concert">
        {{ with $.Page.Resources.GetMatch "image.*" }}
            <img class="concertimg1" src="{{ (.Fit "296x296").RelPermalink }}">
        {{ end }}
        <div class="concertdata">
            <h1>{{ $.Page.Params.title }}</h1>
            {{ range $.Page.Resources.Match "seating*" }}
                <div class="concertlogistics">
                    <div class="concertdatetime">
                        {{ $start := (time .Params.datetime) }}
                        {{ if eq $start.Hour 0 }}
                            {{ (time .Params.datetime).Format "Monday, January 2" }}
                        {{ else }}
                            {{ (time .Params.datetime).Format "Monday, January 2 at 3:04pm" }}
                        {{ end }}
                    </div>
                    {{ if .Params.venue }}
                        {{ partial (print "venue/" .Params.venue) . }}
                    {{ end }}
                </div>
                <div class="concerttickets">
                    {{ .Content }}
                </div>
            {{ end }}
        </div>
        {{ with $.Page.Resources.GetMatch "image.*" }}
            <img class="concertimg2" src="{{ (.Fit "296x296").RelPermalink }}">
        {{ end }}
        <div class="concertbody">
            {{ .Content }}
        </div>
    </div>
{{end}}
