<form id="emaillistform">
    <div class="form-row">
        <div class="form-group col-6">
            <input type="text" class="form-control" name="fname" placeholder="First Name">
        </div>
        <div class="form-group col-6">
            <input type="text" class="form-control" name="lname" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email Address">
    </div>
    <div id="emaillistlegal">
        We use MailChimp to manage our email list. By clicking below to
        subscribe, you acknowledge that your information will be transferred to
        MailChimp for processing. For more information, review MailChimp's
        <a href="https://mailchimp.com/legal/" target="_blank" rel="noopener">privacy policy</a>.
    </div>
    <button id="emaillistsubmit" type="submit" class="btn btn-primary">Subscribe</button>
    <div id="emaillistconfirm"></div>
    <div id="emaillisterror"></div>
</form>
