<form id="mondon-form">
    <div id="mondon-amount-row">
        <label id="mondon-amount-label" for="mondon-amount">
            How&nbsp;much&nbsp;do&nbsp;you&nbsp;want to&nbsp;donate&nbsp;each&nbsp;month?
        </label>
        <div id="mondon-amount-cell">
            $<input id="mondon-amount" type="number" class="form-control" name="amount" min="1" autofocus>
        </div>
    </div>
    <div id="mondon-count-row">
        <label id="mondon-count-label" for="mondon-count">For how many months?</label>
        <input id="mondon-count" type="number" class="form-control" name="count" min="1">
    </div>
    <div id="mondon-last-date" style="display:none"></div>
    <input id="mondon-name" type="text" class="form-control" name="name" placeholder="Your name">
    <input id="mondon-email" type="email" class="form-control" name="email" placeholder="Email address">
    <input id="mondon-address" type="text" class="form-control" name="address" placeholder="Mailing address">
    <div id="mondon-csz-row">
        <input id="mondon-city" type="text" class="form-control" name="city" placeholder="City">
        <select id="mondon-state" class="form-control" name="state">
            <option>AK</option>
            <option>AL</option>
            <option>AR</option>
            <option>AZ</option>
            <option selected>CA</option>
            <option>CO</option>
            <option>CT</option>
            <option>DC</option>
            <option>DE</option>
            <option>FL</option>
            <option>GA</option>
            <option>HI</option>
            <option>IA</option>
            <option>ID</option>
            <option>IL</option>
            <option>IN</option>
            <option>KS</option>
            <option>KY</option>
            <option>LA</option>
            <option>MA</option>
            <option>MD</option>
            <option>ME</option>
            <option>MI</option>
            <option>MN</option>
            <option>MO</option>
            <option>MS</option>
            <option>MT</option>
            <option>NC</option>
            <option>ND</option>
            <option>NE</option>
            <option>NH</option>
            <option>NJ</option>
            <option>NM</option>
            <option>NV</option>
            <option>NY</option>
            <option>OH</option>
            <option>OK</option>
            <option>OR</option>
            <option>PA</option>
            <option>PR</option>
            <option>RI</option>
            <option>SC</option>
            <option>SD</option>
            <option>TN</option>
            <option>TX</option>
            <option>UT</option>
            <option>VA</option>
            <option>VT</option>
            <option>WA</option>
            <option>WI</option>
            <option>WV</option>
            <option>WY</option>
        </select>
        <input id="mondon-zip" type="text" class="form-control" name="zip" placeholder="Zip" maxlength="10">
    </div>
    <div id="mondon-card" class="form-control"></div>
    <div id="mondon-footer">
        <button type="submit" id="mondon-button" class="btn btn-primary">Start Donations</button>
        <div id="mondon-message"></div>
    </div>
</form>
