{{ if not (.Get "product") }}{{ errorf "ticketform: product required" }}{{ end -}}
{{ if not (.Get "price") }}{{ errorf "ticketform: price required" }}{{ end -}}
{{ if not (.Get "desc") }}{{ errorf "ticketform: desc required" }}{{ end -}}
{{ $i := 1 }}
<button class="buy-tickets btn btn-primary"
{{ range $p, $v := .Params -}}
    {{- if in (slice "product" "price" "desc") $p }}data-{{$p}}="{{$v}}"
    {{- else }}data-coupon{{$i}}="{{base64Encode $p}}" data-cprice{{$i}}="{{$v}}"{{ $i := add $i 1 }}
    {{- end }}
{{ end }}>Buy Tickets</button>
